$primary: #662e93;
$secondary: #e79bc0;
$tertiary: #ef941d;
$warning: $tertiary;
$dark: #140519;

.navbar-toggler {
    color: $tertiary !important;
    background-color: $tertiary !important;
}
@import '../node_modules/bootstrap/scss/bootstrap';

// $navbar-dark-toggler-icon-bg:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;