<div class="container-fluid main">
    <div class="container-xxl main-element bg-dark main-card my-1 py-2">
        <a href="https://www.basketaki.com/teams/barboutia/schedule">Μελλοντικοί αγώνες</a>
    </div>
    <div class="container-xxl main-element bg-dark main-card my-1 py-2">
        <a href="https://www.basketaki.com/teams/barboutia/results">Ιστορικό</a>
    </div>
</div>