<div class="container-fluid main">
    <div class="row" id="photosMain">
        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
            <img
                src="https://barbutia.fans/content/imgs/gallery/Resized/practice.jpg"
                class="w-100 shadow-1-strong rounded mb-4 img-fluid img-thumbnail"
                alt="Practice"
                loading="lazy"
            />
            <img
                src="https://barbutia.fans/content/imgs/gallery/Resized/viber_image_2023-05-14_00-20-38-429.jpg"
                class="w-100 shadow-1-strong rounded mb-4 img-fluid img-thumbnail"
                alt="Celebration"
                loading="lazy"
            />
            <img
                src="https://barbutia.fans/content/imgs/gallery/Resized/viber_image_2023-01-15_02-30-50-210.jpg"
                class="w-100 shadow-1-strong rounded mb-4 img-fluid img-thumbnail"
                alt="Celebration"
                loading="lazy"
            />
            <img
                src="https://barbutia.fans/content/imgs/gallery/Resized/viber_image_2022-12-12_21-12-56-424.jpg"
                class="w-100 shadow-1-strong rounded mb-4 img-fluid img-thumbnail"
                alt="ready to rock"
                loading="lazy"
            />
        </div>
        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
            <img
                src="https://barbutia.fans/content/imgs/gallery/Resized/viber_image_2023-04-22_22-10-20-689.jpg"
                class="w-100 shadow-1-strong rounded mb-4 img-fluid img-thumbnail"
                alt="eggs"
                loading="lazy"
            />
            <img
                src="https://barbutia.fans/content/imgs/gallery/Resized/uppercut.jpg"
                class="w-100 shadow-1-strong rounded mb-4 img-fluid img-thumbnail"
                alt="uppercut"
                loading="lazy"
            />
            <img
                src="https://barbutia.fans/content/imgs/gallery/Resized/viber_image_2023-05-13_23-11-14-036.jpg"
                class="w-100 shadow-1-strong rounded mb-4 img-fluid img-thumbnail"
                alt="smoke"
                loading="lazy"
            />
            <img
                src="https://barbutia.fans/content/imgs/gallery/Resized/παράταση.png"
                class="w-100 shadow-1-strong rounded mb-4 img-fluid img-thumbnail"
                alt="clutch"
                loading="lazy"
            />
            <img
                src="https://barbutia.fans/content/imgs/gallery/Resized/viber_image_2023-01-28_23-22-17-140.jpg"
                class="w-100 shadow-1-strong rounded mb-4 img-fluid img-thumbnail"
                alt="few but strong"
                loading="lazy"
            />
        </div>
        
        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
            <img
                src="https://barbutia.fans/content/imgs/gallery/Resized/viber_image_2023-03-18_18-47-59-926.jpg"
                class="w-100 shadow-1-strong rounded mb-4 img-fluid img-thumbnail"
                alt="mean look"
                loading="lazy"
            />
            <img
                src="https://barbutia.fans/content/imgs/gallery/Resized/viber_image_2023-02-05_02-32-58-402.jpg"
                class="w-100 shadow-1-strong rounded mb-4 img-fluid img-thumbnail"
                alt="uppercut"
                loading="lazy"
            />
            <img
                src="https://barbutia.fans/content/imgs/gallery/Resized/viber_image_2023-12-15_22-36-09-156.jpg"
                class="w-100 shadow-1-strong rounded mb-4 img-fluid img-thumbnail"
                alt="drink"
                loading="lazy"
            />
            <img
                src="https://barbutia.fans/content/imgs/gallery/Resized/σήκωσέ το.jpg"
                class="w-100 shadow-1-strong rounded mb-4 img-fluid img-thumbnail"
                alt="σήκωσέ το"
                loading="lazy"
            />
        </div><!-- column 3 -->
        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
            <img
                src="https://barbutia.fans/content/imgs/gallery/Resized/viber_image_2022-11-18_22-40-07-646.jpg"
                class="w-100 shadow-1-strong rounded mb-4 img-fluid img-thumbnail"
                alt="during the game"
                loading="lazy"
            />
            <img
                src="https://barbutia.fans/content/imgs/gallery/Resized/hard work.jpg"
                class="w-100 shadow-1-strong rounded mb-4 img-fluid img-thumbnail"
                alt="free throw practice"
                loading="lazy"
            />
            <img
                src="https://barbutia.fans/content/imgs/gallery/Resized/viber_image_2023-05-12_10-23-29-326.jpg"
                class="w-100 shadow-1-strong rounded mb-4 img-fluid img-thumbnail"
                alt="all together"
                loading="lazy"
            />
            <img
                src="https://barbutia.fans/content/imgs/gallery/Resized/viber_image_2023-12-15_22-38-58-023.jpg"
                class="w-100 shadow-1-strong rounded mb-4 img-fluid img-thumbnail"
                alt="cup in hand"
                loading="lazy"
            />
        </div> <!-- column 4 -->
    </div>
</div>

<!-- modal -->
<div class="modal fade" id="imageDisplayer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
        <div class="modal-body container-fluid p-1">
            <img
                src=""
                alt=""
                class="w-100 rounded img-fluid"
                id="modalImage"
            />
        </div>
        </div>
    </div>
</div>