{{#if players}}
<div class="container-fluid main p-4">
    <div class="row justify-content-center playerlist accordion">
        {{#each players}}
            {{>playerCard this}}
        {{/each}}
    </div>
</div>
{{/if}}
{{#unless players}}
    <div class="container-xxl main-element bg-dark main-card p-5 alert alert-danger">
        <p>Δεν βρέθηκε το roster!</p>
    </div>
{{/unless}}