<div class="container-fluid main">
    <div class="container-xxl main-element bg-dark main-card my-1 py-2">
        <a href="https://www.basketaki.com/teams/barboutia/standings">Βαθμολογία Ομίλου</a>
    </div>
    <div class="container-fluid main">
        <div class="container-xxl main-element bg-dark main-card my-1 py-2">
            <div class="table-responsive">
                <table class="table table-sm table-hover table-dark align-middle mb-0">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" colspan="2">Ομάδα</th>
                            <th scope="col">Βαθμοί</th>
                            <th scope="col">Διαφορά</th>
                            <th scope="col">Παιχν.</th>
                            <th scope="col">Νίκες.</th>
                            <th scope="col">Ήττες</th>
                            <th scope="col">+</th>
                            <th scope="col">-</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-xxl main-element bg-dark main-card my-1 py-2">
        <a href="https://www.basketaki.com/tournaments/winter-master-league-25-26/standings">Βαθμολογία Κατηγορίας</a>
    </div>
</div>