<div class="container-fluid main">
    <div class="container-xxl main-element bg-dark main-card my-1 py-2">
        <a href="https://www.basketaki.com/teams/barboutia/standings">Βαθμολογία Ομίλου</a>
    </div>
    <div class="container-xxl main-element bg-dark main-card my-1 py-2">
        <a href="https://www.basketaki.com/tournaments/winter-evolution-league-24-25/standings">Βαθμολογία Κατηγορίας</a>
    </div>
</div>