<div class="container-fluid main" style="height: 50vh !important;">
    <div class="d-flex justify-content-center align-items-center">
        <div class="spinner-border" style="width: 7rem; height: 7rem; color:orange" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<iframe class ="fixed-bottom" src="https://drive.google.com/file/d/1hG-5MPDADUHOkIU5amkczLIgGj1RASzt/preview" frameborder=0 scrolling="auto" height="100%" width="100%"/>