img {
    transition: transform 3.8s cubic-bezier(0.19,1,.22,1);
}
.card {
    max-width: 35em !important;
    border: 0 !important;
}
.accordion-item{
    border: 0 !important;
}
.card img{
    max-height:100%;
}
.card:hover img{
    transform: scale(1.1);
    /* color:orange; */
}
.hide{
    transition: transform 3.8s cubic-bezier(0.19,1,.22,1), opacity 1s ease-in;
}
.card:hover .hide{
    opacity: 0;
}
.accordion-button{
    border-radius: var(--bs-accordion-border-radius) !important;
}
/* .imageWrapper{
    width: 100%;
    height: 100%;
} */
.generalStats > *{
    white-space: nowrap;
    font-size: 0.8em;
}