img {
    transition: transform 3.8s cubic-bezier(0.19,1,.22,1);
}
.card:hover img{
    transform: scale(1.1);
}
.hide{
    transition: transform 3.8s cubic-bezier(0.19,1,.22,1), opacity 1s ease-in;
}
.card:hover .hide{
    opacity: 0;
}
.accordion-button{
    border-radius: var(--bs-accordion-border-radius) !important;
}